<section class="message-card">
    <h1>Holaaaa</h1>
    <p>
        Querida Any,
        primero quería decirte que de verdad aprecio bastante tu amistad, esto es como una cartita animada JAHAJA.
        Me gusta bastante pasar el rato contigo y la paso bien la verdad, algún día te visitaré salkcnakls.
        Eres de las pocas amistades reales que tengo y de verdad gracias por simplemente existir y ser tú. 
    </p>
    <button routerLink="/birthday-message">
        Click aquí :D
    </button>
</section>
